body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(110.88deg, #E2E1FF 6.53%, rgba(255, 255, 255, 0) 51.96%);
    height: 100vh;
    width: 1920px;
    height: 975px;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;  
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    position: relative;
  }
  
  header {
    width: 385px;
    height: 28px;
    top: 61px;
    left: 160.21px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    margin-right: 12px;
  }
  
  .company-name {
    font-family: Lexend;
    font-weight: 600;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #607D8B;
  }
  
  .login-box {
    width: 480px;
    height: 408px;
    top: 284px;
    left: 720px;
    margin-top: calc((975px - 284px) / 2);
    margin-left: calc((1920px - 720px) / 2);
  }
  
  .login-box h2 {
    width: 225px;
    height: 44px;
    font-family: Lexend;
    font-weight: 600;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #546E7A;
  }
  
  .login-box h3 {
    width: 127px;
    height: 28px;
    font-family: Lexend;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #546E7A;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],input[type="password"]
 {
    width: 480px;
    height: 48px;
    gap: 8px;
    border-radius: 8px;
    border: 1.5px solid #78909C;
    margin-bottom: 16px;
    background: #FFFFFF;
    color: #78909C;
    box-sizing: border-box;
  }

  
  .remember {
    width: 178px;
    height: 24px;
    border-radius: 6px;
    font-family: Lexend;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #78909C;
    margin-bottom: 16px;
  }
  
  button {
    font-family: Lexend;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4294F6;
    width: 480px;
    height: 48px;
    border-radius: 8px;
    margin-bottom: 16px;
    animation-duration: 0ms;
  }
  
  button:hover {
    background-color: #4294F6;
  }
  

  .footer-note {
    width: 565px;
    height: 15px;
    margin-top: 942px;
    margin-left: 677px;
    color: #546E7A;
    text-align: center;
    font-family: Lexend;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  


  .input-wrapper {
    position: relative;
    margin-bottom: 16px;
  }
  
  .input-wrapper i {
    position: absolute;
    top: 30%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
  }
  
  .input-wrapper input {
    padding-left: 36px; 
    height: 36px;
    width: 100%;
    box-sizing: border-box;
  }

  
  